body {
    background-color: #f2e9e4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

button {
    background-color: #003049;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    margin: 30px;
    border: none;
}

button::after,
button:before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: #003049;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    opacity: 0.7;
}

button:before {
    animation: notification 2s ease-out infinite;
}

button:after {
    animation: notification 2s 1s ease-out infinite;
}

@keyframes notification {
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}
